{% extends 'base.html.twig' %}

{% block title %}Modification d'un utilisateur{% endblock %}


{% block body%}

    <div class="container text-light">

        <h2 class="mt-5 d-flex justify-content-center">Modification d'un utilisateur</h2>

        {# read and display just one flash message type #} 
        {% for message in app.flashes('Succes') %}
            <div class="alert alert-success mt-4 d-flex justify-content-center">
                {{ message }}
            </div>
        {% endfor %}

        <div class="d-flex justify-content-center mt-5">
            <a href="{{ path('edituser.password' , {id : userid} )}}" class="btn btn-success">Changer le mot de passe</a>
            &emsp;&emsp;
            <a href="{#{{ path('edituser.adresse' , {id : userid} )}}#}" class="btn btn-success">Gérer les adresses</a>
        </div>

        {{ form_start(form) }}
            <div class="form-error">
                {{ form_errors(form) }}
            </div>

             <div class="form-group">
                {{ form_label(form.user_nom) }}
                {{ form_widget(form.user_nom) }}
                <div class="form-error">
                    {{ form_errors(form.user_nom) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.user_prenom) }}
                {{ form_widget(form.user_prenom) }}
                <div class="form-error">
                    {{ form_errors(form.user_prenom) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.email) }}
                {{ form_widget(form.email) }}
                <div class="form-error">
                    {{ form_errors(form.email) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.user_tel) }}
                {{ form_widget(form.user_tel) }}
                <div class="form-error">
                    {{ form_errors(form.user_tel) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.user_sexe) }}
                {{ form_widget(form.user_sexe) }}
                <div class="form-error">
                    {{ form_errors(form.user_sexe) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.user_type) }}
                {{ form_widget(form.user_type) }}
                <div class="form-error">
                    {{ form_errors(form.user_type) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.user_pays) }}
                {{ form_widget(form.user_pays) }}
                <div class="form-error">
                    {{ form_errors(form.user_pays) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.user_commerc) }}
                {{ form_widget(form.user_commerc) }}
                <div class="form-error">
                    {{ form_errors(form.user_commerc) }}
                </div>
            </div>

            <div class="form-group d-flex justify-content-center mt-5">
                {{ form_row(form.save) }}
                <div class="d-flex justify-content-center ms-5 mb-5"><a href="{{ path('user')}}" class="btn btn-secondary">Retour</a></div>
            </div>

        {{ form_end(form) }}

    </div>

{% endblock %}